h1{
    border: 2px solid black;
    width: 50%; /*set hight according to its parent */
}
#outer{
    height: 200px;
    width: 200px;
    background-color: pink;
    margin: 50px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    /* margin: 10%; */
    margin-left: 10%;
}




