#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

#inner_1,#inner_2,#inner_3{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}

#inner_1{
    background-color: red;
}
#inner_2{
    background-color: yellow;
}
#inner_3{
    background-color: green;
}